In [ ]:
t = (1,2,3,4)

t[1:3]

In [ ]:
import pandas as pd
dictionary = {"name":["ali","zeynep","tolga","hasan","ömer","yağmur"],
             "age":[12,34,56,78,None,12],
             "note":[123,456,78,87654,None,89]}
dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("C:\Users\Tolga\OneDrive\Masaüstü\data.csv")

# Print the contents of the DataFrame
print(df)

In [ ]:
head = dataframe1.head() 
print(head)

In [ ]:
tail = dataframe1.tail()
print(tail)

In [ ]:
print(dataframe1.columns)

In [ ]:
print(dataframe1.info())

In [ ]:
print(dataframe1.dtypes)

In [ ]:
print(dataframe1.describe())

In [ ]:
print(dataframe1["name"]) 
print(dataframe1.loc[:, "age"])                      
dataframe1["yeni_future"] = [1,2,3,4,5,6]
print(dataframe1.loc[:3,"age"]) 
print(dataframe1.loc[:3, "name":"note"])                
print(dataframe1.loc[::-1])

In [ ]:
 print(dataframe1.yeni_future)

In [ ]:
print(dataframe1.loc[:, "age"]) # sutun getirmenin bir başka yolu

In [ ]:
print(dataframe1.loc[:3,"age"])

In [ ]:
print(dataframe1.loc[:3, "name":"note"]) #name den note'a kadar olan kolonların ilk 3 satırını yazdırdı 3 dahil

In [ ]:
print(dataframe1.loc[:3, ["name","note"]]) #sadece name ve notun 3. indeksine kadar yazdırır

In [ ]:
print(dataframe1.loc[::-1]) #indexleri tersten yazdırdı

In [ ]:
print(dataframe1.loc[:,:"age"]) #age kadar olan tüm satırları yazdırdı. age dahil

In [ ]:
print(dataframe1.iloc[:,[2]]) #2. indeksdeki kolonun tüm satırlarını verir

In [ ]:
filtre1 = dataframe1.age>10                           
dataframe1["bool"]= filtre1
print(dataframe1.loc[:,["age","bool"]])

In [ ]:
type(filtre1)

In [ ]:
filtrelenmis_data= dataframe1[filtre1] #dataframe'i filtrelemiş olduk, sadece koşulu sağlayan indeksler yazıldı
print(filtrelenmis_data)

In [ ]:
filtre2 = dataframe1.note>100
filtrelenmis_data2 = dataframe1[filtre2&filtre1] #iki filtre birden uyguladık
print(filtrelenmis_data2)

In [ ]:
dataframe1[dataframe1.age>20]

In [ ]:
import numpy as np
ortalama = dataframe1.note.mean() #pandas ile ortalama bulma 
print(ortalama)
ortlama_np= np.mean(dataframe1.note) #numpy ile ortalama bulma
print(ortlama_np)

In [ ]:
dataframe1.dropna(inplace=True) #dropna ile NaN değerleri sildik 
dataframe1

In [ ]:
print(dataframe1.note.mean()) 
dataframe1["ortalama"]= ["ortalamanın altında" if dataframe1.note.mean()>each else "ortalamanın üstünde" for each in dataframe1.note]
dataframe1

In [ ]:
dataframe1.columns = [each.upper() for each in dataframe1.columns]
dataframe1.columns

In [ ]:
dataframe1["yeni2_future"]=[1,1,1,1,1]
dataframe1.columns = [each.split('_')[0]+" "+each.split('_')[1] if len(each.split('_'))>1 else each for each in dataframe1.columns]
dataframe1

In [ ]:
dataframe1.columns = [ each.split(" ")[0]+"_"+each.split(" ")[1] if len(each.split(" "))>1 else each for each in dataframe1.columns]
dataframe1

In [ ]:
dataframe1.drop(["yeni2_future","YENI_FUTURE"],axis=1,inplace=True)
dataframe1

In [ ]:
data1 = dataframe1.head()     
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

In [ ]:
data_contact2 = pd.concat([data1,data2],axis=1) #axis= 1 yazarak stunları birleştirdik
data_contact2

In [ ]:
dataframe1["buyuk_yas"] = [each*2 for each in dataframe1.AGE]
dataframe1

In [ ]:
def mlt(yas):
    return yas*2
dataframe1["apply_metodu"] = dataframe1.AGE.apply(mlt)
dataframe1